//-----------------------------------------------
//-  include en Componente: Vote item
//-----------------------------------------------

//- vote items json structure
- var selectors = require("./src/data/data.json");

each selector in selectors
	// Vote list item
	.rt-vote__item
		.rt-vote__item__img
			img(
				src=selector.image
				alt=selector.imageAlt)
		.rt-vote__item__inner

			//- Item content
			.rt-vote__item__content
				h3.rt-vote__item__title(class=selector.voteClass)= selector.label
				p.rt-vote__item__data= selector.date  
					span= selector.section
				p.rt-vote__item__description= selector.description

			//- item vote options
			.rt-vote__item__options

				a.rt-btn(href="#") View Full Report


			//- vote results
			.rt-vote__results
				.rt-vote__results__thumb.rt-vote__results__thumb-up(style={width: selector.percentageUp+"%"})
					p= selector.percentageUp
						span %

				.rt-vote__results__thumb.rt-vote__results__thumb-down(style={width: selector.percentageDown+"%"})
					p= selector.percentageDown
						span %




	