//-----------------------------------------------
//-  include en Componente: Vote item
//-----------------------------------------------

//- vote items json structure
-
	var selectors = [
		{label: "Kanye West", image: "images/img-kaney.jpg", imageAlt: "Kaney West image", voteClass: "thumbUp-badge", date: "1 month ago", section: "in Entertainment", description: "Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.", op1: "vote1", op2:"vote2", group: "item1", percentageUp: "64", percentageDown: "36"},
		{label: "Mark Zuckerberg", image: "images/img-mark.jpg", imageAlt: "Mark Zuckerberg image", voteClass: "thumbDown-badge", date: "1 month ago", section: "in Business", description: "Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.", op1: "vote3", op2:"vote4", group: "item2", percentageUp: "36", percentageDown: "64"},
		{label: "Cristina Fernández de Kirchner", image: "images/img-cristina.jpg", imageAlt: "Cristina Fernandez image", voteClass: "thumbDown-badge", date: "1 month ago", section: "in Politics", description: "Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.", op1: "vote5", op2:"vote6", group: "item3", percentageUp: "36", percentageDown: "64"},
		{label: "Malala Yousafzai", image: "images/img-malala.jpg", imageAlt: "Malala Yousafzai image", voteClass: "thumbUp-badge", date: "1 month ago", section: "in Entertainment", description: "Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.", op1: "vote7", op2:"vote8", group: "item4", percentageUp: "64", percentageDown: "36"}

	]

each selector in selectors
	// Vote list item
	.rt-vote__item
		.rt-vote__item__img
			img(
				src=selector.image
				alt=selector.imageAlt)
		.rt-vote__item__inner

			//- Item content
			.rt-vote__item__content
				h3(class=selector.voteClass)= selector.label
				p.rt-vote__item_data= selector.date  
					span= selector.section
				p.rt-vote__item__description= selector.description

			//- item vote options
			.rt-vote__item__otions
				input.rt-vote__item__thumbUp(
					type="radio" 
					id= selector.op1
					name= selector.group)
				label(for=selector.op1) Thumbs Up
				input.rt-vote__item__thumbDown(
					type="radio" 
					id= selector.op2
					name= selector.group)
				label(for=selector.op2) Thumbs Down
				button.rt-vote__item__voteNow(type="submit" title="click to vote note") Thumbs Up


			//- item vote Thank you
			.rt-vote__item__voted
				p Thank you for voting
				a.rt-btn(href="#" title="click to vote again") Vote again

			//- vote results
			.rt-vote__results
				.rt-vote__results__thumb.rt-vote__results__thumb-up(style={width: selector.percentageUp+"%"})
					p= selector.percentageUp
						span %

				.rt-vote__results__thumb.rt-vote__results__thumb-down(style={width: selector.percentageDown+"%"})
					p= selector.percentageDown
						span %




	